body {
  padding: 0;
  margin: 0;
}
.content {
  height: 4000px
}
.banner {
  height: 100px;
  line-height: 100px;
  background: green;
  font-size: 20px;
  text-align: center;
}
header {
  background: black;
  height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
}
